* {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

body {
    text-align: center;
    padding: 50px;

}

#close-button{
    text-align: right;
}

#pokemon-button {
    margin: 4px;
    padding: 9px;
    width: 150px;
    color: black;
    background-color: lightgray;
    font-size: 18px;
}

#pokemon-button:hover {
    background-color: darkgrey;
    border: none;
}

.main {
    margin-top: 20px;
}

.modal-img {
    width: 150px;
}

.navbar {
    height: 90px;
}

.page_header {
    margin-top: 50px;
	width: 100%;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    font-size: 20px;
}

.modal-body {
    font-size: 18px;
    line-height: 10px;
}

